body {
    font-family: 'Montserrat', sans-serif;
}

/*____________________________________header START__________________________________*/

.section-start {
    width: 100%;
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.section-start-header {
    background-color: rgba(97, 96, 91, 0.6);
    width: 100%;
}

.section-start-header-content {
    width: 1160px;
    margin: 0 auto 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link-wrapper {
    text-decoration: none;
}

.section-start-header-content-logo-image {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.section-start-header-content-logo {
    display: inline-flex;
    align-items: center;
    padding: 25px 0;
}

.logo-background-h {
    font-size: 40px;
    font-weight: bolder;
    display: inline-block;
    color: white;
    position: absolute;
    top: 13px;
    left: 13px;
}

.logo-text-the {
    display: inline-block;
    color: white;
    font-size: 28px;

}

.logo-text-ham {
    display: inline-block;
    color: #18CFAB;
    font-weight: bold;
    font-size: 28px;

}

.header-navigation-list-link {
    text-decoration: none;
    font-weight: bold;
    color: #B8B8B8;
    font-size: 15px;
    margin: 0 10px;

}

.header-navigation-list-link:hover {
    color: #18CFAB;
    padding-bottom: 50px;
    border-bottom: 2px solid #18CFAB;
}

.header-search {
    color: #B8B8B8;
}

.header-search:hover {
    color: #18CFAB;
}

/*____________________________________header END__________________________________*/

/*________________________________slogan + buttons START ______________________*/

.section-start-slogan {
    width: 1160px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-start-slogan-text {
    font-size: 35px;
    color: #18CFAB;
    font-weight: bold;
    padding-bottom: 35px;
}

.slogan-white {
    color: white;
}

.section-start-slogan-line-2 {
    font-size: 70px;
    color: white;
    font-weight: bold;
    padding-bottom: 35px;
}

.section-start-slogan-line-3 {
    font-size: 30px;
    color: #B8B8B8;
    padding-bottom: 105px;
}

.section-start-slogan-buttons {
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 197px;
}

.section-start-slogan-button-explore {
    color: white;
    text-decoration: none;
    background-color: #18CFAB;
    padding: 17px 24px;
    border-radius: 5px;
    box-shadow: 0 -3px 0 0 white;
    margin-right: 10px;
}

.section-start-slogan-button-purchase {
    color: white;
    text-decoration: none;
    background-color: #00CBF6;
    padding: 17px 24px;
    border-radius: 5px;
    box-shadow: 0 -3px 0 0 white;
    margin-left: 10px;
}

/*________________________________slogan + buttons END ______________________*/


/*__________________________________Four blocks section START _____________________________*/

.section-four-blocks {
    width: 100%;
    display: flex;
    margin-bottom: 65px;
}

.section-four-blocks-block {
    width: calc(100% / 4);
    height: auto;
    display: flex;
    justify-content: center;
}

.section-four-blocks-content {
    padding: 120px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 282px;
}

.four-blocks-icon1 {
    padding-bottom: 35px;
}

.four-blocks-icon2 {
    padding-bottom: 57px;
}

.four-blocks-icon3 {
    padding-bottom: 36px;
}

.four-blocks-icon4 {
    padding-bottom: 56px;
}

.dark-theme {
    background-color: #1C2A33;
    border-top: 4px solid #18CFAB;
}

.light-theme {
    background-color: #18CFAB;
    border-top: 4px solid white;
}

.section-four-blocks-text-green {
    color: #18CFAB;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.section-four-blocks-text-white {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.unlimited-support {
    width: 281px
}

/*__________________________________Four blocks section END _____________________________*/


/*___________________________________Section Our Services START __________________________*/

.section-our-services {
    width: 100%;
}

.section-our-services-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-our-services-content-name {
    font-size: 36px;
    padding-bottom: 25px;
    margin-bottom: 55px;
    color: #4E4E4E;
    position: relative;
    display: block;
}

.section-our-services-content-name::before {
    content: " ";
    border: 1px solid #18CFAB;
    width: 77px;
    position: absolute;
    bottom: 0;
    left: 65px;
}

.section-our-services-content-name::after {
    content: " ";
    border: 1px solid #18CFAB;
    width: 77px;
    position: absolute;
    bottom: -4px;
    right: 60px;
}

.section-our-services-menu-wrapper {
    width: 100%;
    display: flex;
    text-align: center;
    padding-bottom: 30px;
}

.section-our-services-menu {
    width: 100%;
    display: flex;
}

.section-our-services-menu-tab {
    display: inline-block;
    width: calc(100% / 6);
    background-color: #F8FCFE;
    color: #717171;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 22px 0;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
}

.section-our-services-menu-tab:not(:last-child) {
    border-right: none;
}

.triangle-toolkit:after {
    content: " ";
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
    bottom: -20px;
    left: 86px;
}

.tab-clicked-style {
    background-color: #18CFAB;
    color: white;
    border: none;
}

.section-our-services-menu-tab-content {
    display: flex;
}

.section-our-services-menu-tab-content-text {
    font-size: 14px;
    line-height: 1.5;
}
.section-our-services-image-container {
    min-width: 194px;
    height: 139px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.section-our-services-menu-tab-content-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden-service-content {
    display: none;
}

.tab-content-image-text {
    padding-bottom: 75px;

}

/*___________________________________Section Our Services END_____________________________*/

.mid-section-purchase-now {
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/Sections background/section-2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.mid-section-purchase-now-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 96px;
    padding-top: 95px;
}

.mid-section-content-top-text {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color: #18CFAB;
    padding-bottom: 26px;
}

.mid-section-content-mid-text {
    font-size: 16px;
    color: #D8D8D8;
    padding-bottom: 56px;
}

.mid-section-content-button-purchase {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #18CFAB;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 -3px 0 0 white;
    text-decoration: none;
}

/*__________________________________Section Our Amazing Work START_____________________________*/

.section-amazing-work {
    width: 100%;
    padding-bottom: 75px;
    background-color: #F8FCFE;
    padding-top: 96px;
}

.section-amazing-work-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-amazing-work-menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}

.section-amazing-work-menu {
    display: flex;
}

.section-amazing-work-menu-tab {
    display: inline-block;
    background-color: #FFFFFF;
    color: #717171;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 22px 29px;
    position: relative;
    box-sizing: border-box;
}

.section-amazing-work-menu-tab:not(:last-child) {
    border-right: none;
}

.section-amazing-work-content-name {
    font-size: 36px;
    padding-bottom: 25px;
    margin-bottom: 55px;
    color: #4E4E4E;
    position: relative;
    display: block;
}

.section-amazing-work-content-name::before {
    content: " ";
    border: 1px solid #18CFAB;
    width: 93px;
    position: absolute;
    bottom: 0;
    left: 114px;
}

.section-amazing-work-content-name::after {
    content: " ";
    border: 1px solid #18CFAB;
    width: 93px;
    position: absolute;
    bottom: -4px;
    right: 125px;
}

.section-amazing-work-menu-tab:hover {
    cursor: pointer;
}

.amazing-work-tab-clicked {
    color: #18CFAB;
    border-top: 3px solid #18CFAB;
}

.section-amazing-work-pictures-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    padding-bottom: 53px;
}


.amazing-pictures {
    vertical-align: bottom;
}

.shown {
    display: initial;
}

.section-amazing-work-button-more {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: #18CFAB;
    padding: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.loader1 {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #18CFAB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none;
}
.loader2 {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #18CFAB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: none;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.all-amaz-pictures {
    width: 287px;
    height: 206px;
    background-size: cover;
    background-position: center;
    display: none;
}

.section-amazing-work-picture1 {
    background-image: url("../img/graphic design/graphic-design1.jpg");
}

.section-amazing-work-picture2 {
    background-image: url("../img/graphic design/graphic-design2.jpg");
}

.section-amazing-work-picture3 {
    background-image: url("../img/graphic design/graphic-design3.jpg");
}

.section-amazing-work-picture4 {
    background-image: url("../img/graphic design/graphic-design4.jpg");
}

.section-amazing-work-picture5 {
    background-image: url("../img/graphic design/graphic-design5.jpg");
}

.section-amazing-work-picture6 {
    background-image: url("../img/graphic design/graphic-design6.jpg");
}

.section-amazing-work-picture7 {
    background-image: url("../img/web design/web-design1.jpg");
}

.section-amazing-work-picture8 {
    background-image: url("../img/web design/web-design2.jpg");
}

.section-amazing-work-picture9 {
    background-image: url("../img/web design/web-design3.jpg");
}

.section-amazing-work-picture10 {
    background-image: url("../img/web design/web-design4.jpg");
}

.section-amazing-work-picture11 {
    background-image: url("../img/web design/web-design5.jpg");
}

.section-amazing-work-picture12 {
    background-image: url("../img/web design/web-design6.jpg");
}

.section-amazing-work-picture13 {
    background-image: url("../img/landing page/landing-page1.jpg");
}

.section-amazing-work-picture14 {
    background-image: url("../img/landing page/landing-page2.jpg");
}

.section-amazing-work-picture15 {
    background-image: url("../img/landing page/landing-page3.jpg");
}

.section-amazing-work-picture16 {
    background-image: url("../img/landing page/landing-page4.jpg");
}

.section-amazing-work-picture17 {
    background-image: url("../img/landing page/landing-page5.jpg");
}

.section-amazing-work-picture18 {
    background-image: url("../img/landing page/landing-page6.jpg");
}

.section-amazing-work-picture19 {
    background-image: url("../img/wordpress/wordpress1.jpg");
}

.section-amazing-work-picture20 {
    background-image: url("../img/wordpress/wordpress2.jpg");
}

.section-amazing-work-picture21 {
    background-image: url("../img/wordpress/wordpress3.jpg");
}

.section-amazing-work-picture22 {
    background-image: url("../img/wordpress/wordpress4.jpg");
}

.section-amazing-work-picture23 {
    background-image: url("../img/wordpress/wordpress5.jpg");
}

.section-amazing-work-picture24 {
    background-image: url("../img/wordpress/wordpress6.jpg");
}

.section-amazing-work-picture25 {
    background-image: url("../img/wordpress/wordpress7.jpg");
}

.section-amazing-work-picture26 {
    background-image: url("../img/wordpress/wordpress8.jpg");
}

.section-amazing-work-picture27 {
    background-image: url("../img/wordpress/wordpress9.jpg");
}

.section-amazing-work-picture28 {
    background-image: url("../img/wordpress/wordpress10.jpg");
}

.section-amazing-work-picture29 {
    background-image: url("../img/graphic design/graphic-design7.jpg");
}

.section-amazing-work-picture30 {
    background-image: url("../img/graphic design/graphic-design8.jpg");
}

.section-amazing-work-picture31 {
    background-image: url("../img/graphic design/graphic-design9.jpg");
}

.section-amazing-work-picture32 {
    background-image: url("../img/graphic design/graphic-design10.jpg");
}

.section-amazing-work-picture33 {
    background-image: url("../img/landing page/landing-page7.jpg");
}

.section-amazing-work-picture34 {
    background-image: url("../img/web design/web-design7.jpg");
}

.section-amazing-work-picture35 {
    background-image: url("../img/graphic design/graphic-design11.jpg");
}

.section-amazing-work-picture36 {
    background-image: url("../img/graphic design/graphic-design12.jpg");
}


.section-amazing-work-picture-hovered-content {
    background-color: white;
    border-top: 2px solid #18CFAB;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.section-amazing-work-picture-hovered-content:hover {
    opacity: 1;
}

.section-amazing-work-picture-hovered-content-circles {
    padding-bottom: 25px;
    padding-top: 40px;
}

.amazing-pictures-link-circle {
    color: #18CFAB;
    background-color: white;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    display: inline-block;
    padding: 15px;
    margin-right: 2px;
}

.amazing-pictures-link-circle:hover {
    background-color: #18CFAB;
    color: white;
}

.amazing-pictures-link-search {
    color: #18CFAB;
    background-color: white;
    border: 1px solid #18CFAB;
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    margin-left: 2px;
}

.amazing-pictures-link-search:hover {
    background-color: #18CFAB;
    color: white;
}

.circles-links {
    text-decoration: none;
}

.amazing-pictures-hover-text-main {
    font-size: 18px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bolder;
    padding-bottom: 10px;
}

.amazing-pictures-hover-text-submain {
    font-size: 14px;
    color: #717171;
}

/*__________________________________Section Our Amazing Work FINISH_____________________________*/

/*___________________________________Section Breaking News Start______________________________*/

.section-breaking-news-content-name {
    font-size: 36px;
    padding-bottom: 25px;
    margin-bottom: 55px;
    color: #4E4E4E;
    position: relative;
    display: block;
}

.section-breaking-news {
    width: 100%;
    padding-bottom: 75px;
    background-color: white;
    padding-top: 65px;
}

.section-breaking-news-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-breaking-news-content-name::before {
    content: " ";
    border: 1px solid #18CFAB;
    width: 77px;
    position: absolute;
    bottom: 0;
    left: 90px;
}

.section-breaking-news-content-name::after {
    content: " ";
    border: 1px solid #18CFAB;
    width: 77px;
    position: absolute;
    bottom: -4px;
    right: 93px;
}

.section-breaking-news-blocks-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.breaking-news-block {
    width: 263px;
    padding-bottom: 34px;
}

.breaking-news-block-image {
    width: 100%;
    height: 208px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.image1 {
    background-image: url("../img/breaking-news/Layer 47@1X.png");
}

.image2 {
    background-image: url("../img/breaking-news/Layer 50@1X.png");
}

.image3 {
    background-image: url("../img/breaking-news/Layer 51@1X.png");
}

.image4 {
    background-image: url("../img/breaking-news/Layer 52@1X.png");
}

.image5 {
    background-image: url("../img/breaking-news/Layer 53@1X.png");
}

.image6 {
    background-image: url("../img/breaking-news/Layer 54@1X.png");
}

.image7 {
    background-image: url("../img/breaking-news/Layer 55@1X.png");
}

.image8 {
    background-image: url("../img/breaking-news/Layer 56@1X.png");
}


.breaking-news-block-date {
    background-color: #203E38;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 20px;
}

.breaking-news-block-date-text {
    color: white;
    font-size: 16px;
    line-height: 1.4;
}

.breaking-news-block-underimage-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 10px;
    line-height: 1.6;
    background-color: #F8FCFE;
    border: 1px solid rgba(192, 192, 192, 0.3);
    box-sizing: border-box;
}

.breaking-news-block-underimage-text-highlight {
    font-size: 18px;
    font-weight: bold;
    color: #717171;
}

.breaking-news-block-underimage-text-comment {
    font-size: 14px;
    color: #717171;
}

.breaking-news-block-underimage-text-breaking-line {
    padding: 0 10px;
}

.section-breaking-news-link-wrapper {
    text-decoration: none;
}

.section-breaking-news-link-wrapper:hover .breaking-news-block-underimage-text-highlight {
    color: #18CFAB;
}

.section-breaking-news-link-wrapper:hover .breaking-news-block-date {
    background-color: #18CFAB;
}

/*_________________________________________Section BREAKING NEWS END______________________*/

/*______________________________________Section About the Ham START______________________*/

.section-about {
    width: 100%;
    background-image: url("../img/Sections background/section-3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 150px;
}


.section-about-content-name {
    font-size: 36px;
    padding-bottom: 25px;
    margin-bottom: 50px;
    padding-top: 74px;
    color: white;
    position: relative;
    display: block;
}

.section-about-content-name::before {
    content: " ";
    border: 1px solid #18CFAB;
    width: 77px;
    position: absolute;
    bottom: 0;
    left: 245px;
}

.section-about-content-name::after {
    content: " ";
    border: 1px solid #18CFAB;
    width: 77px;
    position: absolute;
    bottom: -4px;
    right: 245px;
}

.section-about-content-quotes-img {
    padding-bottom: 33px;
}

.section-about-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.section-about-content-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
    width: 1160px;
    position: absolute;
    opacity: 1;
    transition: opacity 1s;

}

.hide-person-content {
    opacity: 0;
}

.content-person-wrapper {
    width: 1160px;
    height: 430px;
    display: flex;
    flex-direction: row;
}


.section-about-content-person-quote {
    font-size: 16px;
    color: #BBBBBB;
    line-height: 2;
    text-align: center;
    padding-bottom: 45px;
}

.section-about-content-person-name {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18CFAB;
    padding-bottom: 15px;
}

.section-about-content-person-position {
    font-size: 15px;
    color: #BBBBBB;
    padding-bottom: 50px;
}

.section-about-content-person-img {
    width: 145px;
    border-radius: 50%;
    border: 3px solid #18CFAB;
    box-shadow: 0 0 0 12px rgba(17, 76, 75, 0.5);
}

.section-about-content-button {
    background-color: transparent;
    border: 1px solid #B2B3B4;
    width: 31px;
    height: 31px;
    color: #B2B3B4;
    box-sizing: border-box;
    cursor: pointer;
}

.section-about-content-button:hover {
    border: none;
    background-color: #18CFAB;
    color: white;
}

.button-left {
    margin-right: 25px;
}

.button-right {
    margin-left: 25px;
}


.section-about-content-people-about-us {
    display: flex;
    padding-bottom: 80px;
    align-items: center;
}


.image-on-carousel {
    width: 60px;
    margin: 0 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(17, 76, 75, 0.5);
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
}

.on-carousel-clicked-img {
    border: 1px solid #18CFAB;
    margin-bottom: 30px;
}
/*______________________________________Section About the Ham END______________________*/

/*______________________________________Section BEST PICTURES START______________________*/

.section-best-images {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 65px;
}

.section-best-images-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-best-images-content-name {
    font-size: 36px;
    padding-bottom: 25px;
    margin-bottom: 55px;
    color: #4E4E4E;
    position: relative;
    display: block;
}

.section-best-images-content-name::before {
    content: " ";
    border: 1px solid #18CFAB;
    width: 77px;
    position: absolute;
    bottom: 0;
    left: 155px;
}

.section-best-images-content-name::after {
    content: " ";
    border: 1px solid #18CFAB;
    width: 77px;
    position: absolute;
    bottom: -4px;
    right: 150px;
}

.gallery-wrapper {
    width: 100%;
    display: flex;

}

.grid {
    width: 1160px;
    height: auto;
}

.grid-item {
    /*width: 160px;*/
    /*height: 120px;*/
    float: left;
    margin-bottom: 15px;
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background: #D26;*/
    /*border: 2px solid #333;*/
    /*border-color: hsla(0, 0%, 0%, 0.5);*/
    /*border-radius: 5px;*/
    }

.grid-item--width { width: 370px; }

.grid-item--height1 { height: 259px; }
.grid-item--height2 { height: 380px; }
.grid-item--height3 { height: 168px; }

.image-width3 { width: 182px; }
.image-height3 { height: 168px;
margin-bottom: 4px;}

.grid-container3 {
    width: 370px;
    height: 460px;
}

.image-height4 { height: 92px;
margin-bottom: 4px;}
.image-width4-1 { width: 125px; }
.image-width4-2 { width: 119px; }
.image-width4-3 { width: 115px; }

.grid-item--height14 { height: 260px; }
.grid-item--height15 { height: 247px; }
.grid-item--height16 { height: 373px; }
.grid-item--height17 { height: 290px; }
.grid-item--height18 { height: 259px; }


.container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.grid-image1 {
    background-image: url("../img/best-images/1@1X.png");
}
.grid-image2 {
    background-image: url("../img/best-images/2@1X.png");
}
.grid-image3 {
    background-image: url("../img/best-images/Rectangle 7@1X.png");
}
.grid-image4 {
    background-image: url("../img/best-images/Rectangle 8@1X (1).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-image5 {
    background-image: url("../img/best-images/Rectangle 8@1X.png");
}
.grid-image6 {
    background-image: url("../img/best-images/Rectangle 8 copy@1X.png");
}
.grid-image7 {
    background-image: url("../img/best-images/Rectangle 8 copy 2@1X.png");
}
.grid-image8 {
    background-image: url("../img/best-images/Rectangle 8@1X (1).png");
}
.grid-image9 {
    background-image: url("../img/best-images/Rectangle 8 copy@1X (1).png");
}
.grid-image10 {
    background-image: url("../img/best-images/Rectangle 8 copy 2@1X (1).png");
}
.grid-image11 {
    background-image: url("../img/best-images/Rectangle 8@1X (2).png");
}
.grid-image12 {
    background-image: url("../img/best-images/Rectangle 8 copy@1X (2).png");
}
.grid-image13 {
    background-image: url("../img/best-images/Rectangle 8 copy 2@1X (2).png");
}

.grid-image14 {
    background-image: url("../img/best-images/4@1X.png");
}
.grid-image15 {
    background-image: url("../img/best-images/5@1X.png");
}
.grid-image16 {
    background-image: url("../img/best-images/6@1X.png");
}
.grid-image17 {
    background-image: url("../img/best-images/7@1X.png");
}
.grid-image18 {
    background-image: url("../img/best-images/8@1X.png");
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.section-best-images-button-more {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: #18CFAB;
    padding: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*______________________________________Section BEST PICTURES END______________________*/



/*_______________________________Footer Copyright__________________*/

.copyright-container {
    width: 100%;
    background-color: #22353F;
    color: #AEAEAE;
    display: flex;
    justify-content: center;
    padding: 36px 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.copyright-container-text-the-ham {
    color: #18CFAB;
}